body 
{
	padding: 0;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #606c71;
	margin: 0 auto;
}

a 
{
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

a:hover
{
	text-decoration: none;
}

.page-section
{
	max-width: 980px;
	margin: 0 auto;
	padding:0.35rem 0.25rem 0rem 0.25rem;
	text-align:center;
}

.page-card
{
	margin-top:15px;
	min-height:5rem;
	max-width: 18rem;
	padding:8px 15px;
  	float: left;
}

.btn 
{
	display: inline-block;
	color: #fff;
	background-color: #606c71;
	padding: 1px 10px 1px 10px;
}


.page-header
{
	height:2rem;
	background-color: #606c71;
}

.page-footer
{
	height:1px;
	background-color: #606c71;
	max-width: 980px;
	margin: 0 auto;
}

.logo 
{
	width: 115px;
	margin-top: 0.2rem;
}

.main-image
{
	width: 30rem;
}

@media (max-width: 30em) 
{
	.main-image 
	{
		width: 15rem;
	}
}