body 
{
	padding: 0;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #606c71;
	margin: 0 auto;
}

a 
{
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

a:hover
{
	text-decoration: underline;
}

.page-section
{
	max-width: 980px;
	margin: 0 auto;
	padding-top:0.3rem;
	margin-bottom: 0.25rem;
	margin-right: 0.25rem;
	margin-left: 0.25rem;
}


.page-header
{
	height:2rem;
	background-color: #606c71;
}

.logo 
{
	width: 7rem;
}

.main-image
{
	width: 30rem;
}

@media (max-width: 30em) 
{
	.main-image 
	{
		width: 15rem;
	}
}