<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en"><![endif]-->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>{{ page.title }} | ROLUAN</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/style/normalize.css">
    <link rel="stylesheet" type="text/css" href="/style/style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
  	<div class="page-section">
  	    <span><img class="logo" src="images/logo.png"></span>
	  	<span style="float: right; margin-top:5px;">
	  		<a href="http://blog.roluan.com"><img style="width:16px;" src="images/roluan.png"></a>&nbsp;&nbsp;
	  		<a href="https://www.facebook.com/groups/roluan/"><img style="width:16px;" src="images/facebook.png"></a>&nbsp;&nbsp;
	  		<a href="https://twitter.com/roluansystems"><img style="width:16px;" src="images/twitter.png"></a>&nbsp;&nbsp;
	  		<a href="https://www.linkedin.com/company/roluan"><img style="width:16px;" src="images/linkedin.png"></a>
	  	</span>
  	</div>
  	<section class="page-header"></section>
  	{{ content }}
  	<section class="page-footer"></section>
  </body>
 </html>